{% import "macros/follower_button.html" as render_follow_button %}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile/style.css')}}">
    <section class="profile-section">
        <div class="profile-section-border">
            <div class="profile-section-flex-container">
                <div class="profile-section-flex-left">
                    {% if user.profile.profile_pic_id == "default" %}
                        <img class="profile-section-image" src="{{ url_for('static', filename='profile_pics/default.jpg')}}" alt="Profile Picture">
                    {% else %}
                        <img class="profile-section-image" src="{{ user.profile.profile_pic_url }}" alt="Profile Picture">
                    {% endif %} 

                    <div>
                        <h3>{{user.profile.firstname}} {{ user.profile.lastname}}</h3>
                        <p >@{{ user.username }}</p>
                    </div>
                </div>
                {{ render_follow_button.render_follow_button(user, follower) }}
            </div>
            

            {% if user.profile.bio %}
                <p>{{ user.profile.bio }}</p>
            {% endif %}

            {% if user == current_user %}
                <p><a href="{{url_for('profile.edit_profile', user_public_id=user.public_id)}}">Edit</a></p>
            {% endif %}
        </div>
        
    </section>