{% extends "base.html" %}
{% block content %}
    {% import "macros/form.html" as render_auth_field %}

    
<link rel="stylesheet" href="{{url_for('static', filename='css/profile/style.css')}}">
<!----------- USER PROFILE -------------->
    <section class="edit-profile-container">

        <form class="edit-profile" action="" method="POST" enctype="multipart/form-data">
            <h4 class="edit-profile-heading">Edit Profile</h4>
            <!-- USER PROFILE PICTURE -->
            <div class="edit-profile-image-container">
                {% if current_user.profile.profile_pic_id == "default" %}
                    <img class="profile-section-image" src="{{ url_for('static', filename='profile_pics/default.jpg')}}" alt="Profile Picture" >
                {% else %}
                    <img class="profile-section-image" src="{{ current_user.profile.profile_pic_url }}" alt="Profile Picture">
                {% endif %}
            </div>

            {{ form.hidden_tag()}}

            {{render_auth_field.render_auth_field(form.firstname) }}

            {{render_auth_field.render_auth_field(form.lastname) }}
            
            {{render_auth_field.render_auth_field(form.username) }}

            <div class="edit-profile-bio">
                {{render_auth_field.render_auth_field(form.bio) }}
            </div>
            
            <div class="upload-photo">
                {{ render_auth_field.render_auth_field(form.profile_pic)}}
            </div> 

            <div>
                {{ form.submit(class="submit-button btn btn-primary") }}
            </div>
        </form>
    </section>

{% endblock %}