{% extends "base.html" %}
{% block content %}
    {% import "macros/post_article.html" as render_post %}

<!-- USER PROFILE -->
    {% include "components/profile_card.html"%}
    <hr>

    <div class="profile-posts-container">
    <!-- USER'S POSTS -->
        <section>
            {% if not posts.items %}
                <h3>No post found</h3>
            {% endif %}
            {% for post in posts.items %}
                {{ render_post.render_post(post, post_reactions_dict)}}
            {% endfor %}
        </section>

    <!-- PAGINATION AREA -->
        <div>
            {% for page_num in posts.iter_pages(left_edge=1, left_current=2, right_edge=2, right_current=2) %}
                {% if page_num == posts.page %}
                    <a href="{{url_for('profile.view_profile', page=page_num, user_public_id=user.public_id)}}"><button type="button" style="color: blue;"><strong>{{ page_num}}</strong></button></a>
                {% else %}
                    <a href="{{url_for('profile.view_profile', page=page_num, user_public_id=user.public_id)}}"><button type="button">{{ page_num}}</button></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}