{% extends "base.html" %}
{% import "macros/form.html" as render_auth_field %}
{% block content %}
    
    <section>
        <h2>Login</h2>

        <form action="", method="POST">
            {{ form.hidden_tag() }}

            {{ render_auth_field.render_auth_field(form.email) }}
            {{ render_auth_field.render_auth_field(form.password) }}
            {{ render_auth_field.render_auth_field(form.remember) }}

            </div>
                {{ form.submit()}} 
                &nbsp;<small><a href="{{url_for('auth.reset_request')}}">Forgot Password</a></small>
            </div>
        </form>
        <br><br>
        <p>Don't have an account? <a href="{{url_for('auth.register')}}">Sign Up</a></p>

    </section>

{% endblock %}