{% extends "base.html" %}
{% import "macros/form.html" as render_auth_field %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/auth/style.css')}}">
    <section>
        <h4>Reset Password</h4>

        <form action="", method="POST">
            {{ form.hidden_tag() }}

            {{ render_auth_field.render_auth_field(form.password)}}
            {{ render_auth_field.render_auth_field(form.confirm_password)}}

            </div>
                {{ form.submit()}}
            </div>
        </form>
    </section>

{% endblock %}