{% extends "base.html" %}
{% block content %}
    {% import "macros/form.html" as render_auth_field %}

<link rel="stylesheet" href="{{url_for('static', filename='css/auth/style.css')}}">
    <section class="auth-page-container">

        <form class="auth-page" action="", method="POST">
            <h4 class="auth-page-heading">Password Reset Request</h4>
            {{ form.hidden_tag() }}

            {{ render_auth_field.render_auth_field(form.email)}}

            <div>
                {{ form.submit(class="submit-button btn btn-primary")}}
            </div>
        </form>
    </section>

{% endblock %}