{% extends "base.html" %}
{% block content %}
    {% import "macros/form.html" as render_auth_field %}

<link rel="stylesheet" href="{{url_for('static', filename='css/auth/style.css')}}">
    <section>
        <h4>Password Reset Request</h4>

        <form action="", method="POST">
            {{ form.hidden_tag() }}

            {{ render_auth_field.render_auth_field(form.email)}}

            </div>
                {{ form.submit()}}
            </div>
        </form>
    </section>

{% endblock %}