:root {
    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2.0rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4.0rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHT */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacining-tight: -2.0px;

    /* FONT FAMILY */
    --font-family: 'Roberto', sans-serif;

    /* COlORS */
    --primary-base: #4c6ef5;
    --primary-tint-1: #5c7cfa;
    --primary-tint-2: #748ffc;
    --primary-tint-3: #dbe4ff;
    --primary-shade: #3b5bdb;


    --secondary-base: #ffd43b;
    --secondary-tint: #ffe066;
    --secondary-shade-1: #fcc419;
    --secondary-shade-2: #fab005;

    --tertiary-base: #fa5252;
    --tertiary-tint: #ff6b6b;
    --tertiary-shade: #f03e3e;


    --grey-base: #495057;
    --grey-tint-1: #868e96;
    --grey-tint-2: #e9ecef;
    --grey-tint-3: #f8f9fa;
    --grey-shade: #212529;

    --white-1: #ffffff;
    --white-2: #fff3f3;
    --black: #000000;

    /* MISCELLANEOUS */
    --nav-height: 8rem;
}

.comment {
    width: 60rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-tint-2);
    border-top: 1px solid var(--grey-tint-1);
    /* box-shadow: 2px 2px 2px 0px var(--primary-tint-2); 
    background-color: var(--grey-tint-3); */
    gap: 2rem;
    border-radius: 20px;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
}


.comment-profile  .post-profile-image {
    width: 6rem;
    height: 6rem;
    border-radius: 48%;
}

.comment-profile  h4 {
    font-size: var(--text-h5);
} 

.post-comments {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


.comments-area {
    /* background-color: white; */
    padding: 1rem 1rem;
    border-radius: 20px;
    box-sizing: border-box;
}


.view-comment {
    margin-bottom: 25rem;
    padding: 1rem 2rem;
}

