<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/emails/style.css')}}">
    <title>Welcome to B-Social</title>
</head>
<body>
    <h4 class="email-heading">Welcome to B-Social</h4>
    <p class="email-body">Thank you for signing up to B-Social! We're excited to have you on board. Please use the otp code sent to your email address to complete your registration.</p>
    <p class="email-body">If you do not verify your email the account will not be created.</p>
    <p class="email-ending">Have a great day <span class="love">❤</span> B-Social</p>
    
</body>
</html>