{% extends "base.html" %}
{% block content %}
    {% import "macros/feedback.html" as render_feedback %}
    {% import "macros/pagination.html" as render_pagination %}


<link rel="stylesheet" href="{{url_for('static', filename='css/feedback/style.css')}}">
    <h4 class="feedback-heading">Feedbacks</h4>
    <div class="new-post-svg-container">
        <div class="new-post-svg-box">
            <a href="{{url_for('feedback.submit_feedback')}}"><img class="new_feedback-svg " src="{{url_for('static', filename='svgs/add-outline-white.svg')}}" alt="Plus"></a>
        </div> 
    </div>
    <section class="view-feedbacks-container">
        
        <!--FEEDBACKS-->
        <div class="view-feedbacks">
            <div>
                {% for feedback in feedbacks.items %}
                    {{ render_feedback.render_feedback(feedback) }}   
                {% endfor %}
            </div>
        

            <!-- PAGINATION AREA -->
            <div class="pagination-area feedback-pagination-space">
                {{ render_pagination.render_pagination(feedbacks, "feedback.view_feedbacks")}}  
            </div>  
        </div> 
    </section>
{% endblock %}