{% extends "base.html" %}
{% block content %}

    <article>
        <div>
            <a href="{{ url_for('profile.view_profile', user_id=comment.post.author.id)}}"></a>
                {% if not comment.post.photo_id %}
                    <img src="{{ url_for('static', filename='profile_pics/default.jpg')}}" alt="Profile Picture" width="60" height="60", style="border-radius: 70cap;">
                {% else %}
                    <img src="{{ comment.author.profile_pic_url }}" alt="Profile Picture" width="60" height="60", style="border-radius: 70cap;">
                {% endif %}

                <h3>{{comment.post.author.firstname}} {{ comment.post.author.lastname}}</h3>
                <p>@{{ comment.post.author.username }}</p>
            </a> 
        </div>

        <div>
            <h4>COMMENT</h4>
            <p>{{comment.content}}</p>

            <small><a href="#">Like</a></small>
            <small><a href="#">Dislike</a></small>
            
            <p>
                <small>Likes: {{comment.num_of_likes}}</small><br> 
                <small>Date: {{ comment.date_created.strftime("%Y-%m-%d")}}</small>
                <small>&nbsp; &nbsp;Time: {{ comment.date_created.strftime("%H-%M")}}</small>
                {% if comment.edited %}
                    <br>
                    <small>Edited</small>
                {% endif %}
            </p>
        </div>

        {% if current_user == comment.author %}
            <a href="{{ url_for('comments.edit_comment', comment_id=comment.id)}}"><button type="button" style="color: yellow;">Edit</button></a>
            <a href="{{ url_for('comments.delete_comment', comment_id=comment.id)}}"><button type="button" style="color: red;">Delete</button></a>
        {% endif %}
    </article>


{% endblock %}