{% extends "base.html" %}
{% block content %}

    {% import "macros/comment.html" as render_comment %}

    <article>
        <div>
            {{ render_comment.render_comment(comment, comment_reactions_dict)}}
        </div>

        {% if current_user == comment.author %}
            <a href="{{ url_for('comments.edit_comment', comment_public_id=comment.public_id)}}"><button type="button" style="color: yellow;">Edit</button></a>
            <a href="{{ url_for('comments.delete_comment', comment_public_id=comment.public_id)}}"><button type="button" style="color: red;">Delete</button></a>
        {% endif %}
    </article>

{% endblock %}