{% extends "base.html" %}
{% block content %}

    {% import "macros/comment.html" as render_comment %}

<link rel="stylesheet" href="{{url_for('static', filename='css/post/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/comment/style.css')}}">
    <section class="view-comment">
        <div>
            {{ render_comment.render_comment(comment, comment_reactions_dict)}}
        </div>

        {% if current_user == comment.author %}
            <a class="btn btn-secondary" href="{{ url_for('comments.edit_comment', comment_public_id=comment.public_id)}}">Edit</a>
            <a class="btn btn-tertiary" href="{{ url_for('comments.delete_comment', comment_public_id=comment.public_id)}}">Delete</a>
        {% endif %}
    </section>

{% endblock %}