{% extends "base.html" %}
{% block content %}
    {% import "macros/post_article.html" as render_post %}
    {% import "macros/pagination.html" as render_pagination %}

<!-- POST SECTION -->
    <section>
        {% for post in posts.items %}
            {{ render_post.render_post(post, post_reactions_dict) }}
            <hr>      
        {% endfor %}
    </section>

<!-- PAGINATION SECTION -->
    <div>
        {{ render_pagination.render_pagination(posts, "main.home")}}  
    </div>
    
{% endblock %}