{% extends "base.html" %}
{% block content %}

    <section>
        {% for post in posts.items %}
            <article>
                <div>
                    <a href="{{ url_for('profile.view_profile', user_id=post.author.id)}}">
                        {% if post.author.profile_pic_id == "default" %}
                            <img src="{{ url_for('static', filename ='profile_pics/default.jpg')}}" alt="Profile Picture" width="60" height="60", style="border-radius: 90cap;">
                        {% else %}
                            <img src="{{ post.author.profile_pic_url }}" alt="Profile Picture" width="60" height="60", style="border-radius: 70cap;">
                        {% endif %}

                        <h3>{{post.author.firstname}} {{ post.author.lastname}}</h3>
                        <p>@{{ post.author.username }}</p>
                    </a>              
                </div>

                <div>
                    <h4>POST:</h4>

                    <a href="{{ url_for('posts.view_post', post_id=post.id)}}">    
                        <p>{{post.content}}</p>

                        {% if post.photo_url%}
                            <img src="{{ post.photo_url }}" alt="Photo" width="300"><br><br>
                        {% endif %}
                    </a>

                    <small><a href="#">Like</a></small>
                    <small><a href="#">Dislike</a></small>
                    <small><a href="{{ url_for('comments.new_comment', post_id=post.id)}}">Comment</a></small>
                    <small><a href="#">Follow</a></small>
                    
                    <p>
                        <small>Clicks: {{post.num_of_clicks}}</small><br>
                        <small>Likes: {{post.num_of_likes}}</small><br>
                        <small>Comments: {{post.num_of_comments}}</small><br>  
                        <small>Date: {{ post.date_created.strftime("%Y-%m-%d")}}</small>
                        <small>&nbsp; &nbsp;Time: {{ post.date_created.strftime("%H:%M")}}</small>
                        {% if post.edited %}
                            <br>
                            <small>Edited</small>
                        {% endif %}
                    </p>
                </div>
            </article>
            <hr>      
        {% endfor %}
    </section>

    <div>
        {% for page_num in posts.iter_pages(left_edge=1, left_current=2, right_edge=2, right_current=2) %}
            {% if page_num == posts.page %}
                <a href="{{url_for('main.home', page=page_num)}}"><button type="button" style="color: blue;"><strong>{{ page_num}}</strong></button></a>
            {% else %}
                <a href="{{url_for('main.home', page=page_num)}}"><button type="button">{{ page_num}}</button></a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}