{% extends "base.html" %}
{% block content %}
    {% import "macros/post_article.html" as render_post %}
    {% import "macros/pagination.html" as render_pagination %}
<link rel="stylesheet" href="{{url_for('static', filename='css/post/style.css')}}">

<div class="home-posts">
<!-- POST SECTION -->
    <section>
        {% for post in posts.items %}
            {{ render_post.render_post(post, post_reactions_dict) }}      
        {% endfor %}
    </section>

<!-- PAGINATION SECTION -->
    <div>
        {{ render_pagination.render_pagination(posts, "main.home")}}  
    </div>
</div>

    
{% endblock %}