{% import "macros/post_profile.html" as render_post_profile %}
{% import "macros/comment_reaction_state.html" as render_comment_reaction %}
{% macro render_comment(comment, comment_reactions_dict)%}

<link rel="stylesheet" href="{{url_for('static', filename='css/comment/style.css')}}">
    <article class="comment">
        <div class="comment-profile">
            {{ render_post_profile.render_post_profile(comment)}}
        </div>

        <div>
            <a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id) }}">    
                <p class="comment-text">{{comment.content}}</p>
            </a>

            {{ render_comment_reaction.render_comment_reaction(comment, comment_reactions_dict) }}
            

            {% if comment.edited %}
                <br>
                <p class="edited-text">Edited</p>
            {% endif %}
        </div>
    </article>
{% endmacro %}