@import url("../variables.css");




/* ----------------------- COMPONENTS---------------------- */
.btn {
    padding: 1rem 2rem;
    border-radius: 30px;
    font-weight: 400;
    font-size: var(--text-base);
    display: inline-block;
}

.btn-primary {
    background-color: var(--primary-base);
    color: var(--white-1);
    border: 2px solid var(--primary-base);
}

.btn-primary:hover, .btn-primary:active {
    background-color: var(--primary-shade);
    color: var(--white-1);
    border: 2px solid var(--primary-shade);
    transform: scale(1.05);
}

.btn-primary-outline {
    background-color: var(--white-1);
    color: var(--primary-base);
    border: 2px solid var(--primary-base);
}

.btn-primary-outline:hover, .btn-primary-outline:active {
    background-color: var(--white-2);
    color: var(--primary-shade);
    border: 2px solid var(--primary-shade);
    transform: scale(1.05);
}

.btn-secondary:link, .btn-secondary:visited {
    background-color: var(--secondary-base);
    color: var(--white-1);
    border: 2px solid var(--secondary-base);
}

.btn-secondary:hover, .btn-secondary:active {
    background-color: var(--secondary-shade-2);
    color: var(--white-1);
    border: 2px solid var(--secondary-shade-2);
    transform: scale(1.05);
}

.btn-tertiary:link, .btn-tertiary:visited {
    background-color: var(--tertiary-base);
    color: var(--white-1);
    border: 2px solid var(--tertiary-base);
}

.btn-tertiary:hover, .btn-tertiary:active {
    background-color: var(--tertiary-shade);
    color: var(--white-1);
    border: 2px solid var(--tertiary-shade);
    transform: scale(1.05);
    
}

.btn-danger:link, .btn-danger:visited {
    background-color: red;
    color: var(--white-1);
    border: 2px solid red;
}

.navbar-text-link:link, .navbar-text-link:visited {
    color: var(--grey-shade);
}

.navbar-text-link:hover, .navbar-text-link:active {
    color: var(--grey-shade);
    transform: scale(1.05);
}

.text-link:link, .text-link:visited {
    color: var(--grey-base);
}

.text-link:link:hover, .text-link:visited:hover {
    color: var(--grey-shade);
    text-decoration: underline;
}

.highlight {
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--white-1);
}

.highlight-primary-base {
    background-color: var(--primary-base);
}

.highlight-tertiary-base {
    background-color: var(--tertiary-base);
}

.field-input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 1.5rem;

}


.field-label {
    font-size: var(--text-base);
}

.field-input {
    width: 100%;
    height: 3.5rem;
    font-size: var(--text-base);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: 1px solid  var(--grey-base);
}

.form-error {
    font-size: var(--text-base);
    color: red;
}

.field-input-box-error {
    border: 2px solid red;
}

.field-label-error {
    color: red;
}

.submit-button {
    background-color: var(--primary-base);
    color: white;
    border: 2px solid var(--primary-base);
}

.upload-photo {
    margin-bottom: 4rem;
}

.upload-photo .field-label {
    margin-bottom: 0.5rem;
}
.upload-photo input{
    padding: 0px;
    height: auto;
}

.reaction-svg {
    width: 15px
}

.reaction-link {
    width: 20px;
    height: 15px;
    display: inline-block;
}

.reaction-num-text {
    font-size: 15px;
}

.pagination-area {
    display: flex;
    justify-content: center;
}

.paginate-btn {
    width: 2.5rme;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background-color: var(--grey-tint-1);
    color: var(--white-1);
}

.paginate-btn-current {
    background-color: var(--grey-base);
}

.offcanvas-text {
    background-color: var(--primary-tint-3);
    padding: 1rem 2rem;
    border-radius: 5px;
}
.logo-md {
    width: 12rem;
}

.logo-lg {
    width: 15rem;
}

.logo-footer {
    width: 100px;
}

.dropdown-img {
    width: 2.5rem;
}

/* ------ALERT-------- */

.alert {
    width: 100%;
    padding: 0.5rem 1.0rem;
    border-radius: 16px;
    border-left: 2px solid;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.text-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    margin-left: 0.5rem;
    height: 3rem;
    padding: 1rem;
}


.alert-success {
    color: rgb(1, 48, 1);
    background-color: rgb(197, 252, 197);
}

.text-icon-success::before {
    content: "✓";
    color: rgb(3, 110, 3);
}

.text-icon-success {
    background-color: rgb(168, 250, 168);
}

.alert-danger {
    color: darkred;
    background-color: antiquewhite;
}

.text-icon-danger::before {
    content: "✖";
    background-color: rgb(248, 224, 192);
    color: rgb(160, 11, 11);
}

.text-icon-danger {
    background-color: rgb(248, 224, 192);
}

.alert-info {
    color: rgb(2, 2, 92);
    background-color: rgb(210, 210, 250);
}

.text-icon-info::before {
    content: "ℹ";
    color: rgb(5, 5, 128);
}

.text-icon-info {
    background-color: rgb(190, 190, 255);
}

.alert-warning {
    color: rgb(199, 179, 0);
    background-color: rgb(255, 250, 203);
}

.text-icon-warning::before {
    content: "⚠";
    color: rgb(199, 179, 0);
}

.text-icon-warning {
    background-color: rgb(253, 245, 169);
}

.alert-message-text-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.edited-text {
    font-size: var(--text-sm);
    font-style: italic;
    color: var(--grey-tint-1);
}

.upload-photo .field-input {
    border: none;
}


/* -------------------SECTIONS------------------------- */

/* -----------NAVBAR------------ */
.navbar-container {
   width: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 2rem;
    height: var(--nav-height);
    background-color: var(--primary-tint-3);
    border-bottom: 2px solid var(--primary-tint-2);
    border-radius: 5px;
    margin-bottom: 2rem;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navbar-right  {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.navbar-right-g2 {
    gap: 2rem;
}

.navbar-left-link {
    display: flex;
    gap: 1.5rem;
}

.flash-message {
    height: 3rem;
    margin-bottom: 1rem;
    z-index: 100;
}

/* ------NEW -------- */

.nav-panel-container {
    display: flex;
    justify-content: center;
}

.nav-panel {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    padding: 1rem 2rem;
    background-color: var(--primary-tint-3);
    border-radius: 10px;
}
.app-nav-panel-icon {
    width: 4rem;

}

.new-post-app-nav-panel-icon-container {
    width: 7rem;
    height: 7rem;
    background-color: var(--primary-base);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.nav-icon-current {
    width: 4rem;
    background-color: var(--white-1);
}
