{% extends "base.html" %}
{% block content %}
    {% import "macros/form.html" as render_post_field %}

    
<link rel="stylesheet" href="{{url_for('static', filename='css/post/style.css')}}"> 
    <section class="new-post-container">
        <form class="new-post-page" action="" enctype="multipart/form-data" method="POST">

            {{ form.hidden_tag() }}

            {% if post %}
                <h3 class="new-post-page-heading ">Edit Post</h3>
            {%else%}
                <h3 class="new-post-page-heading">New Post</h3>
            {% endif %}

            <!--  POST PHOTO IF ANY (FOR UPDATE POST ONLY) -->
            {% if photo_url%}
                <div class="edit-post-field-input">
                    {{ render_post_field.render_post_field(form.content)}}
                    <img class="edit-post-photo" src="{{ photo_url }}" alt="Photo"><br><br>
                    <div class="upload-photo">
                        {{ render_post_field.render_post_field(form.photo)}}
                    </div>  
                </div>
            {% else %}
            <!-- --------FOR NEW POST/ EDIT POST WITHOUT IMAGE-------- -->
                {{ render_post_field.render_post_field(form.content)}}
                <div class="upload-photo">
                    {{ render_post_field.render_post_field(form.photo)}}
                </div>
            {% endif %}

            <div>
                {{ form.submit(class="submit-button btn btn-primary") }}
            </div>
        </form>
    </section>

{% endblock %}