{% extends "base.html" %}
{% block content %}
    {% import "macros/post_article.html" as render_post %}
    {% import "macros/comment.html" as render_comment %}
    {% import "macros/pagination.html" as render_pagination %}

    <div class="view-post-container">
    <!-- POST SECTION -->
        <div>
            {{ render_post.render_post(post, post_reactions_dict) }}
        </div>
        
        <div class="post-edit-delete-container">
            {% if current_user.is_authenticated and current_user == post.author %}
                <a class="btn btn-secondary" href="{{ url_for('posts.update_post', post_public_id=post.public_id)}}">Edit</a>
                <a class="btn btn-tertiary" href="{{ url_for('posts.delete_post', post_public_id=post.public_id)}}">Delete</a>
            {% endif %}
        </div>

    <!--COMMENT SECTION-->
        <section class="post-comments">
            <h5>Comments</h5>
            <div class="comments-area">
                {% for comment in comments.items %}
                    {{ render_comment.render_comment(comment, comment_reactions_dict) }}   
                {% endfor %}
            </div>
        </section>

    <!-- PAGINATION AREA -->
        <div>
            {% for page_num in comments.iter_pages(left_edge=1, left_current=2, right_edge=2, right_current=2) %}
                {% if page_num == comments.page %}
                    <a href="{{url_for('posts.view_post', post_public_id=post.public_id, page=page_num)}}"><button type="button" style="color: blue;"><strong>{{ page_num}}</strong></button></a>
                {% else %}
                    <a href="{{url_for('posts.view_post', post_public_id=post.public_id, page=page_num)}}"><button type="button">{{ page_num}}</button></a>
                {% endif %}
            {% endfor %}
        </div>    
    </div>


{% endblock %}