{% extends "base.html" %}
{% block content %}
    <section class="about-page">
        <h4 class="about-heading" >About</h4>
        <p class="about-paragraph">B-Social is an experimental project created by <a class="about-link" href="https://x.com/MeribeHenry">Meribe Henry</a> to practice web development skills. It only includes the basics for now, as I'm still learning and on the journey to become a better developer.</p>
        <p class="about-paragraph" >This application allows you to share your content with others and get feedback from them. It still has many features to be implemented and with time, it will become a more robust platform. So as of now, it's a simple space for sharing and connecting with others. You can create post, comment on post, edit post, follow a particular creator and react on their posts. More update would soon be made so stay tuned for more updates!</p>
        <p class="about-paragraph">If you have any questions or feedback, feel free to reach out to me on <a class="about-link" href="https://x.com/MeribeHenry">Twitter</a> or <a class="about-link" href="https://github.com/MeribeHenry">GitHub</a>. You can also just give your feedback directly in the application and also see other user feedbacks.</p>
        <p class="about-paragraph-ending">Thank you for visiting B-Social and I hope you enjoy using it!</p>
    </section>
    
{% endblock %}