{% macro render_comment_reaction(comment, comment_reactions_dict) %}
    <!-- <div>
        
        {% if user_comment_reaction %}
            {% if user_comment_reaction.liked %}
                <small><a style="color: red;" href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='like') }}">Like</a></small>
                <small><a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='dislike') }}">Dislike</a></small>
            {% else %}
                <small><a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='like') }}">Like</a></small>
                <small><a style="color: red;" href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='dislike') }}">Dislike</a></small> 
            {% endif %}    
        {% else %}
            <small><a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='like') }}">Like</a></small>
            <small><a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='dislike') }}">Dislike</a></small>
        {% endif %}
    </div> -->

    <!-- --------------------- -->
    <div class="post-reaction-container"> 
        {% set user_comment_reaction = comment_reactions_dict.get(comment.id) %}
        {% if user_comment_reaction %}
            {% if user_comment_reaction.liked %}
                <div class="show-likes-num">
                    <a style="color: red;" href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='like')}}">Like</a>
                    <p>{{comment.num_of_likes}} </p>
                </div> 
                <a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='dislike')}}">Dislike</a>
            {% else %}
                <div class="show-likes-num">
                    <a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='like')}}">Like</a>
                    <p>{{comment.num_of_likes}} </p>
                </div>
                <a style="color: red;"  href="{{url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='dislike')}}">Dislike</a>        
            {% endif %}    
        {% else %}
            <div class="show-likes-num">
                <a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='like')}}">Like</a>
                <p>{{comment.num_of_likes}}</p>
            </div>   
            <a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='dislike')}}">Dislike</a>      
        {% endif %}
        
        <p>{{ comment.date_created | timeago }}</p> 
    </div>
{% endmacro %}

'comments.view_comment', comment_public_id=comment.public_id, reaction='like'
'comments.view_comment', comment_public_id=comment.public_id, reaction='dislike'
<!-- {% macro render_comment_reaction_single(comment, current_user) %}
    <div>
        {% if comment.is_liked_by(current_user) %}
            <small><a style="color: red;" href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='like') }}">Like</a></small>
            <small><a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='dislike') }}">Dislike</a></small>
        {% elif comment.is_disliked_by(current_user) %}
            <small><a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='like') }}">Like</a></small>
            <small><a style="color: red;" href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='dislike') }}">Dislike</a></small> 
        {% else %}
            <small><a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='like') }}">Like</a></small>
            <small><a href="{{ url_for('comments.view_comment', comment_public_id=comment.public_id, reaction='dislike') }}">Dislike</a></small>
        {% endif %}
    </div>
{% endmacro %} -->