{% macro render_field(field) %}
    <div>
        {{ field.label }}
        {{ field()}}

        {% if field.errors %}
            {% for error in field.errors %}
                <br><small style="color: red;"> {{ error }}</small><br>
            {% endfor %}
        {% endif %}
        <br><br>
    </div>
{% endmacro %}


{% macro render_auth_field(field) %}
    <div class="auth-field">

        {% if field.errors %}
            <div class="auth-field-input-container">
                {{ field.label(class="auth-field-label field-label-error") }}
                {{ field(class="auth-field-input field-input-box-error")}}
                {% for error in field.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
            </div>
            
            
        {% else %}
            <div class="auth-field-input-container">
                {{ field.label(class="auth-field-label") }}
                {{ field(class="auth-field-input")}}
            </div>
        {% endif %}
    </div>
{% endmacro %}