{% import "macros/post_profile.html" as render_post_profile %}
{% import "macros/post_reaction_state.html" as render_post_reaction %}
{% macro render_post(post, post_reactions_dict) %}


<article>
    {{ render_post_profile.render_post_profile(post) }}
    <div>
        <a href="{{ url_for('posts.view_post', post_public_id=post.public_id)}}">
            <h4>POST</h4>
            <p>{{post.content}}</p>

            {% if post.photo_url%}
                <img src="{{ post.photo_url }}" alt="Photo" width="300"><br><br>
            {% endif %}

            
            {{ render_post_reaction.render_post_reaction(post, post_reactions_dict) }}
            <!-- <small><a  href="{{ url_for('posts.view_post', post_public_id=post.public_id, reaction='like')}}">Like</a></small>
            <small><a href="{{ url_for('posts.view_post', post_public_id=post.public_id, reaction='dislike')}}">Dislike</a></small>
            <small><a href="{{ url_for('comments.new_comment', post_public_id=post.public_id)}}">Comment</a></small> -->
            
            <div>
                <small>Clicks: {{post.num_of_clicks}}</small><br>
                <small>Likes: {{post.num_of_likes}}</small><br>
                <small>Comments: {{post.num_of_comments}}</small><br>  
                <small>Date: {{ post.date_created.strftime("%Y-%m-%d")}}</small>
                <small>&nbsp; &nbsp;Time: {{ post.date_created.strftime("%H:%M")}}</small>
                {% if post.edited %}
                    <br>
                    <small>Edited</small>
                {% endif %}
            </div>
        </a>
    </div>
</article>
{% endmacro %}