{% import "macros/post_profile.html" as render_post_profile %}
{% import "macros/post_reaction_state.html" as render_post_reaction %}
{% macro render_post(post, post_reactions_dict) %}
<link rel="stylesheet" href="{{url_for('static', filename='css/post/style.css')}}">

<article class="post-article">
    {{ render_post_profile.render_post_profile(post) }}
    <div>
        <a href="{{ url_for('posts.view_post', post_public_id=post.public_id)}}">
            <p>{{post.content}}</p>

            {% if post.photo_url%}
                <img class="post-image" src="{{ post.photo_url }}" alt="Photo">
            {% endif %}

            
            {{ render_post_reaction.render_post_reaction(post, post_reactions_dict) }}
    
            <div>
                Clicks: {{post.num_of_clicks}}  <br>
                Likes: {{post.num_of_likes}}    <br>
                Comments: {{post.num_of_comments}}  <br>  
                Date: {{ post.date_created.strftime("%Y-%m-%d")}}   
                &nbsp; &nbsp;Time: {{ post.date_created.strftime("%H:%M")}} 
                {% if post.edited %}
                    <br>
                    <small>Edited</small>
                {% endif %}
            </div>
        </a>
    </div>
</article>
{% endmacro %}