<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main/query.css')}}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar">
                {% if current_user.is_anonymous %}
                    <div class="navbar-left">
                        <a href="{{url_for('main.landing_page')}}"><img class="logo-md" src="{{url_for('static', filename='images/logo.png')}}" alt="Logo"></a>
                        <div class="navbar-left-link">
                            <a class="navbar-text-link" href="{{url_for('main.about')}}">About</a>
                            <a class="navbar-text-link" href="{{ url_for('feedback.view_feedbacks')}}">Feedback</a>
                        </div>
                    </div>
                    <div class="navbar-right">
                        <a  class="btn btn-primary-outline" href="{{url_for('auth.login')}}">Login</a>
                        <a  class="btn btn-primary" href="{{url_for('auth.register')}}">Sign up</a>
                    </div>

                {% else %}
                    <div class="navbar-left">
                        <a href="{{url_for('main.landing_page')}}"><img class="logo-md" src="{{url_for('static', filename='images/logo.png')}}" alt="Logo"></a>
                        <div class="navbar-left-link">
                            <a class="navbar-text-link" href="{{url_for('main.home')}}">Home</a>
                            <a class="navbar-text-link" href="{{ url_for('profile.view_profile', user_public_id=current_user.public_id)}}">Profile</a>
                            <a class="navbar-text-link" href="{{ url_for('feedback.view_feedbacks')}}">Feedback</a>
                        </div>
                    </div>
                    <div class="navbar-right navbar-right-g2">
                        <a class="navbar-text-link" href="{{url_for('posts.new_post')}}">New Post</a>
                        <a class="navbar-text-link" href="{{url_for('auth.logout')}}">Logout</a>
                    </div>
                    
                {% endif %}
            </nav>      
        </header>

            <main>
                
                {% for category, message in get_flashed_messages(with_categories=True) %}
                    {% if message %}
                        <div class="alert alert-{{category}}">
                            <div class="alert-message-text-container">
                                <p >{{message}}</p>
                                <p class="text-icon text-icon-{{category}}"> </p>
                            </div>  
                        </div>
                    {% endif %}
                {% endfor %}

                {% block content %}{% endblock %}
            </main>
        
        </div>
        {% include "components/footer.html" %}
    
    
</body>
</html>