<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main/query.css')}}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar">
                {% if current_user.is_anonymous %}
                    <div class="navbar-left">
                        <h4>B-SOCIAL</h4>
                        <div class="navbar-left-link">
                            <a href="{{url_for('main.about')}}">About</a>
                            <a href="#">Feedback</a>
                        </div>
                    </div>
                    <div class="navbar-right">
                        <a class="btn btn-primary-outline" href="{{url_for('auth.login')}}">Login</a>
                        <a class="btn btn-primary" href="{{url_for('auth.register')}}">Sign up</a>
                    </div>

                {% else %}
                    <div class="navbar-left">
                        <h3>B-SOCIAL</h3>
                        <div class="navbar-left-link">
                            <a href="{{url_for('main.home')}}">Home</a>
                            <a href="{{ url_for('profile.view_profile', user_public_id=current_user.public_id)}}">Profile</a>
                        </div>
                    </div>
                    <div class="navbar-right navbar-right-g2">
                        <a href="{{url_for('posts.new_post')}}">New Post</a>
                        <a href="{{url_for('auth.logout')}}">Logout</a>
                    </div>
                    
                {% endif %}
            </nav>      
        </header>

            <main>
                <div class="flash-message">
                    {% for category, message in get_flashed_messages(with_categories=True) %}
                        {% if category == "danger" %}
                            <p style="color: red;">{{message}}</p>
                        {% elif category == "success" %}
                            <p style="color: rgb(2, 221, 2);">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                </div>


                {% block content %}{% endblock %}
            </main>
        
        </div>
        {% include "components/footer.html" %}
    
    
</body>
</html>